*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#EEEDF0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.card{
    margin:258px auto;
    width:380px;
    background-color:#fff;
    text-align: center;
    padding:38px;
    border-radius: 18px;
    box-shadow: 0 10px 32px 6px rgba(236, 234, 239, 0.5);
}

.card img{
    width:42px;
}

.card .text_content{
    margin: 18px auto 40px auto;
}

.card .text_content h1{
 color:#212121;
 font-size: 28px;
 font-weight:600;
}

.card .text_content p{
    font-size: 16px;
    color: #4F4F4F;
    padding-top:6px;
    font-weight:500;
    line-height: 146%;
}

.Work-btn{
    width:100%;
    padding: 14px;
    background-color: F3F3F5;
    color:#212121;
    font-size: 16px;
    border-radius: 8px;
    font-weight:500;
    border:none;
    cursor: pointer;
    text-align: left;
}

.Work-btn img{
    width: 18px;
}

.Work-btn .arrow{
    float: right;
}

.Work-btn span{ 
    padding-left: 10px;
}

.Personal-btn{
    width:100%;
    padding:14px;
    color: #212121;
    font-size: 16px;
    border-radius: 8px;
    font-weight:400;
    border:none;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
}

.Personal-btn img{
    width: 20px;
}

.Personal-btn span{ 
    padding-left: 10px;
}


.para_content{
    padding-top:14px;
    font-size: 14px;
    color: #929292;
    font-weight:500;
    line-height: 126%;
    text-align: left;
}